.body{
    background: #FFF;
    font-family: "Roboto", sans-serif;
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height:1.5;
    letter-spacing:0.32px;
}

 .link{
    font-style: normal;
    text-decoration: none;
    }
.link:hover{
    text-decoration: none;
}
.logo{
    font-family: "Ralway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.167;
    letter-spacing: 0.54px;
    text-decoration:none

}
.logoweb{
    color: #4D5AE5;
}
.logostudio{
    color: #F4F4FD;
}

header .navigation{
    font-weight: 500;
}
.navigation-list .link{
    color: #2E2F42;
}
.navigation-list .link:hover{
    color: #404BBF;
}
.navigation-list .link:active{
    text-transform: none;
    color: #404BBF;
}  
.contact-list .link{
    color: #434455;
}
.contact-list .link:hover{
    color: #404BBF;
}
.contact-list .link:active{
    color: #404BBF;
}

.hero{
    height: 600px;
    background: #2E2F42;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.button{
    border-radius: 4px;
    background: #4D5AE5;
    box-shadow: rgba(0, 0, 0, 0.15);
    color: #FFF;
    font-weight: 500;
    letter-spacing: 0.64px;
    padding: 16px 32px;
    cursor: pointer;
}

.button:hover{
    background: #404BBF;
}

.h1{
    color: #FFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.071;
    letter-spacing: 1.12px;

}
.section-features .h2{
    display: none;
}

.h2{
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.111;
    text-transform: capitalize;
    letter-spacing: 0.72px;
}

.h3{
    color:#2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

.our-team{
    background:#F4F4FD;
}
.team-card{
    text-align: center;
}
.portfolio-card{
    text-align:left;
}
.footer{
    background:#2E2F42;
    height: 312px;
}
.footer-text{
    color:#F4F4FD;
}

.row-list{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 16px;
}
